<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-item class="div-cambiar">
		<ion-label position="floating">Cambiar Contraseña</ion-label>
		<ion-input type="text" required></ion-input>
	</ion-item>
	<ion-button class="bto-cambiar" type="button" color="tertiary" expand="block">Cambiar</ion-button>

	<div class="div-borrar">
		<ion-label >Borrar Usuario</ion-label>
		<ion-button class="bto-entrar" type="button" color="danger" expand="block" > <ion-icon name="trash"></ion-icon>Eliminar</ion-button>
	</div>
	<ion-button class="btn-salir" color="medium"  expand="block" routerLink="/login" ><ion-icon name="exit-outline"></ion-icon>Salir</ion-button>
	
	

</ion-content>
